@import "_mixins.scss";
@import "_variables.scss";
@import "_fonts.scss";

* {
  cursor: crosshair;
}

body,
html {
  overflow-x: hidden;
}

//home section wrap
.home-wrap {
  max-width: 1692px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

//page intro
.container-intro {
  padding: 0;
}

//move to typography
.weight-bold {
  font-weight: $weight-bold;
}

//nav home
.nav-home {
  margin-bottom: 80px;
}

//nav-bar-top
.nav-bar-top {
  max-width: 1692px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}

//menu icon
.menu-icon {
  height: 25px;
  width: 50px;
  //position: fixed;
  //z-index: 1;
  //top: 75px;
  //right: 100px;

  &:hover {
    cursor: pointer;

    & .menu-line {
      width: 40px;

      &::before {
        width: 50px;
      }
      &::after {
        width: 50px;
      }
    }
  }
}

.menu-line {
  height: 4px;
  width: 50px;
  background-color: #000000;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;

  &::before {
    content: "";
    height: 4px;
    width: 40px;
    background-color: #000000;
    position: absolute;
    margin-top: 10px;
    transition: all 0.3s;
  }

  &::after {
    content: "";
    height: 4px;
    width: 40px;
    background-color: #000000;
    position: absolute;
    margin-top: -10px;
    transition: all 0.3s;
  }
}
// end menu icon

//close menu icon
.close-menu-icon-block {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 80px;
  padding-right: 50px;
}

.menu-icon-close {
  height: 25px;
  width: 50px;
  position: relative;

  &:hover {
    cursor: pointer;

    & .menu-line-close {
      width: 40px;

      &::before {
        width: 50px;
      }
      &::after {
        width: 50px;
      }
    }
  }
}

.menu-line-close {
  height: 4px;
  width: 50px;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;

  &::before {
    content: "";
    height: 4px;
    width: 40px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
    transition: all 0.3s;
  }

  &::after {
    content: "";
    height: 4px;
    width: 40px;
    background-color: white;
    position: absolute;
    margin-top: -10px;
    transition: all 0.3s;
  }
}
// end close menu icon

.main-menu {
  height: 100vh;
  max-width: 800px;
  width: 100%;
  //background-color: #7401f0;
  background-color: #0047e9;
  z-index: 99;
  position: fixed;
  top: 0;
  left: -800px;
}

.main-menu-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px 0 0 75px;

  ul {
    li {
      color: white;
      @include interpolate(font-size, 320px, 1366px, 50px, 76px);
      width: fit-content;
      -webkit-font-smoothing: antialiased;
      letter-spacing: -5px;
      font-weight: 600;
      position: relative;
      margin-bottom: 30px;
      opacity: 0;
      top: 50px;

      &:after {
        content: "";
        width: 100%;
        height: 35%;
        bottom: 10px;
        left: 0;
        position: absolute;
        z-index: -1;
        background: rgba(3, 4, 5, 0.7);
        background-color: rgba;
      }

      & a {
        &:hover {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.scroll-arrow-section {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  z-index: 2;

  p {
    transform: rotate(-90deg);
    margin-bottom: 10px;
  }
}

.social-media-band {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  i {
    color: #e9e9e9;
    @include interpolate(font-size, 320px, 1366px, 15px, 20px);
    margin-bottom: 15px;
  }
}

.bi-arrow-down {
  margin-left: 5px;
}

.social-connect-band {
  ul {
    display: flex;

    li a {
      padding-right: 30px;
      text-decoration: none;
      font-size: 25px;
    }
  }
}

//portfolio / home top section
.portfolio-top {
  width: 100%;
  min-height: 84.5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 70px 0;
  display: flex;
  flex-direction: column;

  h1 {
    @include interpolate(font-size, 320px, 1366px, 90px, 325px);
    letter-spacing: -5px;
    line-height: 250px;
    font-weight: 600;
    color: #000000;
    position: relative;
    z-index: 1;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;

    &:before {
      content: "";
      content: "";
      position: absolute;
      background-color: #e9e9e9;
      height: 100%;
      width: 50%;
      left: 0;
      z-index: -1;
    }
    &:after {
      content: "";
      position: absolute;
      background-color: aqua;
      height: 100%;
      width: 50%;
      right: 0;
      margin-top: -132px;
      z-index: -1;
    }
  }
}

.main-title-home {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 185px;
  padding-top: 40px;
}

.text-column-home {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
}

.home-bottom-row {
  width: 100%;
  background: red;
}

.social-media-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

.social-media-vertical {
  display: flex;
  flex-direction: column;
  padding-right: 115px;

  i {
    color: #e9e9e9;
    @include interpolate(font-size, 320px, 1366px, 15px, 20px);
    margin-bottom: 15px;
  }
}

.sub-info, .connect {
  p {
    @include interpolate(font-size, 320px, 1366px, 20px, 30px);
  }
}

.home-button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  border-radius: 0;
}

.main-button {
  position: relative;
  height: 70px;
  width: 250px;
  margin-right: 15px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  font-size: 17px;
  letter-spacing: 1px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-color: rgb(0, 71, 233);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #0047e9;
    box-shadow: 0px 10px 20px rgba(0, 71, 233, 0.6);
    color: #fff;
    transform: translateY(-5px);
  }
}

//test
.section-project-one {
  background-color: #007bff !important;
  z-index: 1;
  position: relative;
  background-image: linear-gradient(50deg, #002256 0%, #000000 100%);
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .img-container {
    position: relative;
  }
  .project-info {
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 20px 40px 20px 20px;
  }
}

.circle {
  position: absolute;
  border: solid 2px rgb(43, 206, 179);
  z-index: 100;
  pointer-events: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

//overlay intro
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(50deg, #002256 0%, #000000 100%);
}

.overlay-2 {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(50deg, #002256 0%, #000000 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-title {
  color: white;
  position: absolute;
  @include interpolate(font-size, 320px, 1366px, 100px, 125px);
  font-weight: 900;
  white-space: nowrap;
  margin-top: -100px;
}

.myBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: white;
  border: 1px solid white;
}

button {
  display: block;
  padding: 24px 48px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 6px;
  color: #fff;
  border: 2px solid #fff;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: crosshair;
  transition: 0.8s ease-out;
}

.myBtn:hover {
  color: #101010;
}

.myBtn:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.8s ease-out;
}

.myBtn:hover:before {
  top: 0;
}

.button-soft {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  box-shadow: rgba(3, 4, 5, 0.7);
  background: white;
  filter: drop-shadow(3px 3px 4px rgb(238, 238, 238));
  position: relative;
}

.in-button {
  position: absolute;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  filter: drop-shadow(1px 1px 2px rgb(238, 238, 238));
}

//animations
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  60% {
    -moz-transform: translateY(15px);
    -ms-transform: translateY(15px);
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/*
#grid {
  position: fixed;
  width: 100%;
}

#grid .col-md-3 .grid-line {
  height: 0vh;
  border-left: 1px solid rgb(214, 214, 214);
}

#grid .col-md-3 .grid-line.hey {
  height: 100vh;
  transition: height 1.2s ease;
}

#grid .col-md-3:last-child .grid-line {
  height: 0vh;
  border-left: 1px solid rgb(214, 214, 214);
  border-right: 1px solid rgb(214, 214, 214);
}

#grid .col-md-3:last-child .grid-line.hey {
  height: 100vh;
  transition: height 1.2s ease;
}*/
