@import "_mixins.scss";
@import "_variables.scss";
@import "_fonts.scss";

//global
* {
  cursor: crosshair;
}

a {
  text-decoration: none !important;
  &:hover {
    color: $aqua;
  }
}

body {
  //background-image: url("../public/images/noisegif.gif");
  //background-color:  #ff4d5a;
  //background-blend-mode: color-burn;
  background-image: linear-gradient(50deg, #002256 0%, #000000 100%);
}

body,
html {
  overflow-x: hidden;
}
//page intro
.container-intro {
  padding: 0;
}

//move to typography
.weight-bold {
  font-weight: $weight-bold;
}

//nav home
.nav-home {
  //margin-bottom: 50px;
}

//nav-bar-top
.nav-bar-top {
  max-width: 1775px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
}

//menu icon
.menu-icon {
  height: 25px;
  width: 50px;
  //position: fixed;
  //z-index: 1;
  //top: 75px;
  //right: 100px;

  &:hover {
    cursor: pointer;

    & .menu-line {
      width: 40px;

      &::before {
        width: 50px;
      }
      &::after {
        width: 50px;
      }
    }
  }
}

.menu-line {
  height: 2px;
  width: 50px;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;

  &::before {
    content: "";
    height: 2px;
    width: 40px;
    background-color: white;
    position: absolute;
    margin-top: 7px;
    transition: all 0.3s;
  }

  &::after {
    content: "";
    height: 2px;
    width: 40px;
    background-color: white;
    position: absolute;
    margin-top: -7px;
    transition: all 0.3s;
  }
}
// end menu icon

//close menu icon
.close-menu-icon-block {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.menu-icon-close {
  height: 25px;
  width: 50px;
  position: relative;

  &:hover {
    cursor: pointer;

    & .menu-line-close {
      width: 40px;

      &::before {
        width: 50px;
      }
      &::after {
        width: 50px;
      }
    }
  }
}

.menu-line-close {
  height: 4px;
  width: 50px;
  background-color: white;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;

  &::before {
    content: "";
    height: 4px;
    width: 40px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
    transition: all 0.3s;
  }

  &::after {
    content: "";
    height: 4px;
    width: 40px;
    background-color: white;
    position: absolute;
    margin-top: -10px;
    transition: all 0.3s;
  }
}
// end close menu icon

.menu-row {
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.main-menu {
  height: 100vh;
  width: 100vw;
  background-color: #101010;
  z-index: 99;
  position: fixed;
  top: -1200px;
}

.main-menu-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  //padding: 100px 0 0 75px;

  ul {
    li {
      color: white;
      @include interpolate(font-size, 320px, 1366px, 50px, 76px);
      width: fit-content;
      -webkit-font-smoothing: antialiased;
      letter-spacing: -5px;
      font-weight: 600;
      position: relative;
      margin-bottom: 30px;
      opacity: 0;
      top: 50px;

      &:after {
        content: "";
        width: 100%;
        height: 35%;
        bottom: 10px;
        left: 0;
        position: absolute;
        z-index: -1;
        background: rgba(3, 4, 5, 0.7);
        background-color: rgba;
      }

      & a {
        &:hover {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.home {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .l-home-content {
    margin: 0 auto;
    position: relative;
  }
  .seperator-left {
    position: absolute;
    display: block;
    background: $aqua;
    width: 90px;
    height: 5px;
    top: 95%;
    left: 1.5%;
  }
  .seperator-middle {
    position: absolute;
    display: block;
    background: $aqua;
    width: 90px;
    height: 5px;
    top: 101%;
    left: 8.5%;
  }
  .seperator-right {
    position: absolute;
    display: block;
    background: $aqua;
    width: 90px;
    height: 5px;
    top: 107%;
    left: 13.5%;
  }
  .main-title {
    @include interpolate(font-size, 320px, 1366px, 50px, 122px);
    line-height: 120px;
    color: white;
    text-transform: uppercase;
    letter-spacing: -4px;
    font-weight: 700;
    margin: 0 auto;

    @media screen and (max-width: 1200px) {
      line-height: 95px;
    }


  }

  .section-title {
    @include interpolate(font-size, 320px, 1366px, 50px, 35px);
    color: white;
  }
}

.right-side-home {
  ul li {
    font-size: 185px;
    letter-spacing: -15px;
    font-weight: 700;
    line-height: 153px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 2px $aqua;
    position: relative;
    margin: 0;
    padding-left: 0;
    width: 95%;
    text-align: right;
    list-style-position: inside;
    direction: rtl;

    @media screen and (max-width: 1505px) {
      font-size: 155px;
      letter-spacing: -15px;
      font-weight: 700;
      line-height: 140px;
    }

    @media screen and (max-width: 1200px) {
      font-size: 112px;
      letter-spacing: -10px;
      font-weight: 700;
      line-height: 110px;
    }
  }
}

//img-overlay
.img-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $aqua;
  opacity: 0.8;
}

//top section home
/*.home {
  .main-title-home {
    padding-top: 70px;
    h1 {
      @include interpolate(font-size, 320px, 1366px, 200px, 400px);
      letter-spacing: -65px;
      line-height: 262px;

      padding-bottom: 0;
      position: relative;
      z-index: 1;
      text-rendering: optimizeLegibility !important;
      -webkit-font-smoothing: antialiased !important;

      &:before {
        content: "";
        position: absolute;
        background-color: #f6f6f6;
        border-radius: 50%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        height: 575px;
        width: 575px;
        left: 0;
        z-index: -1;
      }
      &:after {
        content: "";
        position: absolute;
        background-color: white;
        height: 575px;
        width: 575px;
        border-radius: 50%;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
        right: 0;
        margin-top: -132px;
        z-index: -1;
      }
    }
  }
}*/

//details section
.my-details {
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-arrow-section {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  z-index: 2;

  p {
    transform: rotate(-90deg);
    margin-bottom: 10px;
  }
}

.social-media-band {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  i {
    color: #f6f6f6;
    @include interpolate(font-size, 320px, 1366px, 15px, 20px);
    margin-bottom: 15px;
  }
}

.bi-arrow-down {
  margin-left: 5px;
}

.social-connect-band {
  ul {
    display: flex;

    li a {
      margin-right: 30px;
      text-decoration: none;
      font-size: 20px;
      color: white;
    }
  }
}
.main-title-home {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.text-column-home {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
}

.home-bottom-row {
  width: 100%;
  background: red;
}

.social-media-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

.social-media-vertical {
  display: flex;
  flex-direction: column;
  padding-right: 115px;

  i {
    color: #f6f6f6;
    @include interpolate(font-size, 320px, 1366px, 15px, 20px);
    margin-bottom: 15px;
  }
}

.sub-info,
.connect {
  p {
    @include interpolate(font-size, 320px, 1366px, 20px, 30px);

    a {
      text-decoration: none;
      color: #212529;
    }
  }
}

.home-button-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  border-radius: 0;
}

.main-button {
  position: relative;
  height: 70px;
  width: 250px;
  margin-right: 15px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  font-size: 17px;
  letter-spacing: 1px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-color: rgb(0, 71, 233);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #0047e9;
    box-shadow: 0px 10px 20px rgba(0, 71, 233, 0.6);
    color: #fff;
    transform: translateY(-5px);
  }
}

.circle {
  position: absolute;
  border: solid 2px rgb(43, 206, 179);
  z-index: 100;
  pointer-events: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

//overlay intro
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: white;
}

.overlay-2 {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(50deg, #002256 0%, white 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-title {
  @include interpolate(font-size, 320px, 1366px, 90px, 325px);
  letter-spacing: -5px;
  line-height: 250px;
  font-weight: 600;
  color: white;
  position: relative;
  z-index: 1;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  &:before {
    content: "";
    content: "";
    position: absolute;
    background-color: #f6f6f6;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    background-color: aqua;
    height: 100%;
    width: 50%;
    right: 0;
    margin-top: -132px;
    z-index: -1;
  }
}

.myBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: white;
  border: 1px solid white;
}

button {
  display: block;
  padding: 24px 48px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 6px;
  color: #fff;
  border: 2px solid #fff;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: crosshair;
  transition: 0.8s ease-out;
}

.myBtn:hover {
  color: #101010;
}

.myBtn:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.8s ease-out;
}

.myBtn:hover:before {
  top: 0;
}

.button-soft {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  box-shadow: rgba(3, 4, 5, 0.7);
  background: white;
  filter: drop-shadow(3px 3px 4px rgb(238, 238, 238));
  position: relative;
}

.in-button {
  position: absolute;
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  filter: drop-shadow(1px 1px 2px rgb(238, 238, 238));
}

//animations

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

//seperator line
.seperator {
  display: block;
  background: $aqua;
  border-radius: 20px;
  width: 70px;
  height: 5px;
}

.project-bg {
  background-image: url("../public/images/sendinblue-cover.png");
  height: 650px;
  width: 50%;
  left: 0px;
  top: 0px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media screen and (max-width: 991px) {
    width: 100%;
  }

  img {
    position: absolute;
    margin: auto;
    max-height: 63%;
    top: 10%;
    left: 30%;
    right: 0;
    bottom: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    @media screen and (max-width: 991px) {
      max-height: 83%;
      top: 40%;
      left: 0;
    }
  }
}

.project-title {
  position: absolute;
  top: 10%;
  color: white;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  padding-left: calc(100% + 45px);

  &::before {
    content: "";
    height: 3px;
    width: 50px;
    border-radius: 2px;
    background-color: $aqua;
    background-color: white;
    position: absolute;
    top: 50%;
    left: calc(100% - 280px);
  }
}

.project-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: white;
}

.l-project-info {
  max-width: 450px;
  width: 100%;
}

.project-info-lead {
  font-size: 22px;
}

.seperator-project-info {
  margin: 5px 0 10px;
  height: 2px;
}

.job-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 20px;

  .heading {
    font-weight: 700;
    color: $aqua;
  }
}

#clip {
  /*
  Ensure background is added first
  */
  background-image: linear-gradient(
      to bottom,
      $aqua,
      rgba(121, 11, 11, 0.2),
      #de0606
    ),
    url("../public/images/noisegif.gif");
  -webkit-text-fill-color: transparent;
  background-blend-mode: color-burn;
  -webkit-background-clip: text;

  font-size: 28vw;
  font-weight: bold;
  text-align: center;
}

.svg {
  position: absolute;
  z-index: -1;
}
