@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Lato:400,700,900&display=swap');


html,
body {
  font-family: "Lato", sans-serif;
  font-family: 'Bebas Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
}

p,
li,
a {
  font-family: "Lato", sans-serif;
}


$defaultFont: 'Bebas Neue', sans-serif;
