@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');


html,
body {
  font-family: 'Bebas Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
}

p,
li,
a {
  font-family: 'Bebas Neue', sans-serif;
}


$default-font: 'Bebas Neue', sans-serif;