@import "_mixins.scss";
@import "_variables.scss";
@import "_fonts.scss";


.container-inner{
  max-width: 1775px;
  width: 100%;
  margin: 0 auto;
}

.vh-100 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.align-items--flex-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.neg-top-50{
  margin-top: -50px;
}


//strikethrough hover
.hover-line-through {
  position: relative;
  display: block;
}
.hover-line-through:before,
.hover-line-through:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 50%;
  margin-top: -0.5px;
  background-color: $aqua;
}

.hover-line-through:before {
  left: -2.5px;
}
.hover-line-through:after {
  right: 2.5px;
  background-color: $aqua;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hover-line-through:hover:before {
  background-color: $aqua;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hover-line-through:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.bg-gradient{
  background-image: linear-gradient(50deg, #002256 0%, #000000 100%);
}

.bg-gradient--grey{
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

.bg-light-grey{
  background-color: #f6f6f6;
}

.text-light-grey{
 color: #CBCFD3;
}

