$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;


//colors
$red: #ff4d5a;
$aqua: #4ad7d1;


//gradient
$purple-gradient: linear-gradient(to right, #ac32e4 0%, #ac32e4 20%, #e833b0 100%) !important;
